.postMain {
    padding: 2rem;
}

.postTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.postDes {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color:#D295BF;
}

.finishDate {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color:darkgrey;
}

.postThumbnail {
    object-fit: cover;
    margin-bottom: 2rem;
}